.side-left {
    height: 100vh;
    background: #251982;
    text-align: center;
}
.side-middle {
    height: 100vh;
}
.side-right {
    height: 100vh;
}
.side-left button.btn {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    
}
.btn1 {
    background: #fff;
    color: #251982;
    font-weight: 700;
    margin-top: 20px;
}
.btn2 {
    margin-top: 95px;
    background: #ffffff47;
    font-size: 21px;
    color: #fff;
}
.btn3 {
    margin-top: 20px;
    background: transparent;
    font-size: 21px;
    color: #fff;
    
}
.btn4 {
    margin-top: 20px;
    background: transparent;
    font-size: 21px;
    color: #fff;
}
.btn5 {
    margin-top: 20px;
    background: transparent;
    font-size: 21px;
    color: #fff;
}
h3 {
    margin-bottom: 0;
}
    span#top-title {
        color: #000;
        font-size: 23px;
        font-weight: 700;
        
    
}
p#top-subtitle {
    font-size: 14px;
    color: #a3a3a3;
    font-weight: 400;
}
.fa-hand-paper-o {
    
    color: #fac20a;
    font-size: 20px !important;
    margin-left: 7px;
}
.left-midle {
    float: left;
}
.right-midle {
    float: right;
}
.side-middle {
    padding-top: 20px;
    background: #f8f9fb;
}
.right-midle {
    padding-top: 5px;
}
#datepicker, .input-group-append {
    background: #e2e2e2;
    border: none !important;
    color: #251982;
}
.border-left-0 {
    border: none !important;
    color: #251982;
}
#datepicker {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.input-group-append {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.box-left {
    width: 70%;
    float: left;
    background: #fff;
    height: 94px;
    padding: 15px 20px 15px 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.box-right {
    width: 30%;
    float: left;
   
}
.hrt {
color: red
}
.run {
  color: #3fa60a
}
.cal {
   color: #fac20a;   
}
.fa-heart, .fa-blind, .fa-fire {
    margin-left: 10px;
    color: #aeabab;
}
.box-left p {
    margin-bottom: 7px;
}
.bpm {
    font-size: 13px;
    color: #aeabab;
}

.verticalChart {
    width: 100%;
  }
  .verticalChart .singleBar {
    width: 100%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
  .verticalChart .singleBar .bar {
    position: relative;
   
    background: #dedede;
    overflow: hidden;
   
  }
 .box-right .verticalChart .singleBar .bar {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 94px;
  }
  .graph-content .verticalChart .singleBar .bar {
   
    height: 140px;
  }
  .verticalChart .singleBar .bar .value {
    position: absolute;
    bottom: 0;
    width: 100%;
    
    color: #ffffff;
  }
  .verticalChart .singleBar .bar .value span {
    position: absolute;
    font-size: 12px;
    
    width: 100%;
    height: 20px;
    color: #dddddd;
    text-shadow: 0px -1px 0px #ffffff, 0px 1px 0px #ffffff, 1px 0px 0px #ffffff, -1px 0px 0px #ffffff, -1px -1px 0px #ffffff, -1px 1px 0px #ffffff, 1px 1px 0px #ffffff, 1px -1px 0px #ffffff;
    display: none;
    text-align: center;
  }
  .graph-content {
      background: #fff;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 12px;
  }
  .singlThin {
    width: 10px;
    margin-left: 11.5px;
    margin-right: 11.5px;
    float: left;
}
.activity {
    font-size: 20px;
}
  .bot-txt p {
    margin-top: 10px;
    font-size: 10px;
    color: #a6a6a6;
  }
  .side-con p {
    color: #a6a6a6;
    font-size: 10px;  
  }
  .goal-box {
      text-align: center;
      background:  #251982;
      height: 195px;
      border-radius: 12px;
  }
  .goal-box .btn {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 15px;
    color: #3fa60a;
    font-weight: 400;
    
    border: 3px solid #02b0c7;
    border-bottom: none;
  }
  .goal-txt {
    color: #fff;
    padding: 20px 20px;
  }
  .cr1 {
      color: #251982;
      margin-right: 10px;
  }
  .cr2 {
    color: #fac20a;
    margin-right: 10px;
}
.cr3 {
    color: red;
    margin-right: 10px;
}
.act-text {
    display: flex;
}
.act-text p {
    padding: 0 20px;
}
span.dt-color {
    font-size: 11px;
    color: #aeabab;
}
.i4ewOd-pzNkMb-haAclf {
    background-color: rgba(244, 244, 244, 0) !important;
}
.right1 .btn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 15px;
    background: #edf2ff;
    color: #251982;
}
  .right1 img {
    width: 38px;
    height: 38px;
    border-radius: 12px;
  }
  .right1 p {
    font-size: 15px;
    font-weight: 600;
  }
  .switchBox p {
    
      margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
  }
  .switchBox span {
    margin-bottom: 0;
    color: #dedede;
    font-size: 15px;
    font-weight: 400;
}
.swth-txt {
    padding: 10px 0px 10px 20px;
    width: 70%;
    float: left;
}
    .switchBox {
        width: 97%;
        float: left;
        background: #f2f2f2;
       
    
        border-radius: 12px;
        
    
}
.border {
    width: 3%;
    float: left;
    
    height: 45px;
    margin-top: 12px;
}
/*switch css */
.switch {
    position: relative;
    display: inline-block;
    width: 73px;
    height: 65px;
    margin-bottom: 0px;
    border-radius: 10px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -10px;
    right: 0;
    bottom: 0;
    background-color: #251982;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 12px;
    
    text-align: right;
    padding-right: 11px;
    padding-top: 1px;
    font-size: 36px !important;
    
  }
  
  .slider:before {
    position: absolute;
    content: url('./back.png');
    height: 65px;
    width: 47px;
    left: 0px;
    bottom: 0px;
    
    -webkit-transition: .4s;
    transition: .4s;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    
}
  
  input:checked + .slider {
    background-color: #f2f2f2;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f2f2f2;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .swch {
    width: 30%;
    float: right;
}
/*end*/
.list-group-item img {
    width: 30px;
    height: 30px;
    border-radius: 12px;
}
.list-group-item p {
    margin-bottom: -6px;
    font-size: 11px;
    
    font-weight: 500;
}
.list-group-item span {
    font-size: 10px;
    color: #e2dede;
}
.list-group-item .fa-star {
    color: #fac20a;
}
.list-group-item .social-btn  {
    background: #eff2fc;
    
    border: none;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    border-radius: 100%;
}
.list-group-item .fa-twitter {
    color: #0ab1f5;

}
.list-group-item.fa-facebook {
color: #251982;
}
.list-group-item .social {
    display: flex;
}